<html>

<head>
<!-- Custom css -->

<link href="http://silversocialnetwork.herokuapp.com/css/style.css" rel="stylesheet">
<link href="http://silversocialnetwork.herokuapp.com/css/page.css" rel="stylesheet">

<!-- Bootstrap4 css -->

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700&display=swap&subset=vietnamese" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.789.vn/Content/789v4/css/fontAwesome/css/font-awesome.min.css?v=8.60" media="all" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<title>SilverBlog</title>

</head>

<body style="display: none">
<% if (locals.logout) { %>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">SilverBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
  </ul>
		  <ul class="navbar-nav">
  			<li class="nav-item dropdown">
  	        <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  <img src="<%= locals.infomation.avatar %>" height="30" class="rounded">
			  <%= locals.infomation.username %>
  	        </a>
  	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  			  <a class="nav-link" href="/profile">Profile</a>
  			  <a class="nav-link" href="/post">Post</a>
  	          <a class="nav-link" href="/logout" style="color:#ba4348"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
  	        </div>
  	      </li>
  	    </ul>
  </div>
</nav>
<%}%>
	<div class="container pt-5" style="padding-top: 5rem !important; position: absolute; top: 5; left: 0; right: 0">
		<%- body %>
	</div>

<!-- particles.js container -->
<div id="particles-js"></div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script>
$(document).ready(function(){
	 $('body').fadeIn();
	particlesJS.load('particles-js', 'http://silversocialnetwork.herokuapp.com/js/particles.json',
    function(){
        console.log('particles.json loaded...')
    })
 })
</script>
</body>
</html>
