body {
    background: #f7f7f7 !important;
}
img {
    pointer-events: none;
}
::-webkit-scrollbar {
    display: none;
}
.navbar {
    background-color: #ffff !important;
    padding: .5rem 7rem !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.bg-light {
    background-color: #ffff !important;
}
canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -30;
}

@media screen and (max-width: 650px) {
    .notification {
        display: none;
    }
}
